.submitForm {
  display: flex;
  justify-content: center;
  gap: 8px;
  min-width: 371 px;
  height: 40px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.searchInput {
  min-width: 272px;
  border-radius: 4px;
  padding-left: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
}

.searchInput:hover {
  border: 1px solid #000;
}

.searchInput:placeholder {
  color: #808080;
}

.searchInput:focus {
  border: 1px solid #4e75ff;
}

.submitButton {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}
.submitButton:hover {
  background-color: #6c8cff;
  transition: 250ms;
}
